div.box .cards .card.hearts {
    background-position-y: -8px;
}

div.box .cards .card.diamonds {
    background-position-y: 370px;
}

div.box .cards .card.clubs {
    background-position-y: 245px;
}

div.box .cards .card.spades {
    background-position-y: 120px;
}

div.box .cards .card.ace {
    background-position-x: -6px;
}

div.box .cards .card._2 {
    background-position-x: -82px;
}

div.box .cards .card._3 {
    background-position-x: -159px;
}

div.box .cards .card._4 {
    background-position-x: -235px;
}

div.box .cards .card._5 {
    background-position-x: -312px;
}

div.box .cards .card._6 {
    background-position-x: -388px;
}

div.box .cards .card._7 {
    background-position-x: -464px;
}

div.box .cards .card._8 {
    background-position-x: -541px;
}

div.box .cards .card._9 {
    background-position-x: -618px;
}

div.box .cards .card._10 {
    background-position-x: -694px;
}

div.box .cards .card.jack {
    background-position-x: -770px;
}

div.box .cards .card.queen {
    background-position-x: -846px;
}

div.box .cards .card.king {
    background-position-x: -923px;
}