div.box .cards .card {
    position: absolute;
    width: 75px;
    height: 113px;
    background-image: url(../../img/cards.svg);
    background-size: 1000px 500px;
}

div.box .cards .card.deck {
    background-image: url(../../img/deck-card.svg);
    background-size: 95px 190px;
    background-color: yellow;
    background-position-x: -8px;
    background-position-y: -38px;
}

div.box .cards .card.card1 {
    z-index: 1000;
    top: 0px;
    left: 0px;
}

div.box .cards .card.card2 {
    z-index: 1000;
    top: 15px;
    left: 6px;
}

div.box .cards .card.card3 {
    z-index: 1000;
    top: 30px;
    left: 12px;
}

div.box .cards .card.card4 {
    z-index: 1000;
    top: 45px;
    left: 18px;
}

div.box .cards .card.card5 {
    z-index: 1000;
    top: 60px;
    left: 24px;
}

div.box .cards .card.card6 {
    z-index: 1000;
    top: 75px;
    left: 30px;
}

div.box .cards .card.card7 {
    z-index: 1000;
    top: 90px;
    left: 36px;
}

div.box .cards .card.card8 {
    z-index: 1000;
    top: 105px;
    left: 42px;
}

div.box .cards .card.card9 {
    z-index: 1000;
    top: 120px;
    left: 48px;
}

div.box .cards .card.card10 {
    z-index: 1000;
    top: 135px;
    left: 54px;
}

div.box .cards .card.card11 {
    z-index: 1000;
    top: 150px;
    left: 60px;
}

div.box .cards .card.card12 {
    z-index: 1000;
    top: 165px;
    left: 66px;
}

div.box .hand {
    position: absolute;
}

div.box .hand.hand1 {
    left: 0px;
}

div.box .hand.hand2 {
    left: -80px;
}

div.box .hand .value {
    text-align: center;
    position: absolute;
    top: 2px;
    left: 25px;
    font-weight: bold;
    z-index: 1000;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    padding: 3px;
}

div.box .hand .value.soft {
    color: darkgreen;
    border-color: darkgreen;
}

div.box .hand .value.hard {
    color: saddlebrown;
    border-color: saddlebrown;
}

div.box .hand .value.busted,
div.box .hand .value.hard.busted{
    color: red;
    border-color: red;
}

div.box .hand .value.BlackJack {
    color: gold;
    border-color: gold;
}