.GameTable .Dealer {
    top: 65px;
    left: 455px;
}

.GameTable .Dealer div.box .dealerName {
    font-weight: bold;
}

.GameTable .Dealer div.box .dealerInfo {
    position: absolute;
    left: -25px;
}

.GameTable .Dealer div.box .cards {
    position: absolute;
    top: 50px;
}