div.box {
    position: absolute;
    width: 200px;
    height: 200px;
}

div.box div.balance,
div.box div.bet {
    width: 120px;
    vertical-align: top;
    position: relative;
}

div.box div.amount {
    font-family: Consolas;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3px;
    color: darkblue;
}

div.box div.amount:before {
    content: "$";
    color: black;
}

div.box7 {
    transform: rotate(30deg);
    top: 369px;
    left: 165px;
}

div.box6 {
    transform: rotate(20deg);
    top: 457px;
    left: 348px;
}

div.box5 {
    transform: rotate(10deg);
    top: 501px;
    left: 558px;
}

div.box4 {
    top: 505px;
    left: 765px;
}

div.box3 {
    transform: rotate(-10deg);
    top: 475px;
    left: 966px;
}

div.box2 {
    transform: rotate(-20deg);
    top: 414px;
    left: 1165px;
}

div.box1 {
    transform: rotate(-30deg);
    top: 317px;
    left: 1341px;
}

div.box .hands {
    position: absolute;
    top: 79px;
}

div.box .playerName {
    font-weight: bold;
}

div.box .playerInfo {
    position: absolute;
    left: -25px;
}